:root {
  /* Primary Colors */
  --primary-color: #2ad341;
  --green-dark-color: #1b4332;
  --bg-light-color: #f1fee5;

  /* Text Colors */
  --text-light-color: #eaeaea;
  --text-title-color: #14532d;
  --text-secondary-color: #2d6a4f;
  --text-dark-color: #081c15;
}

.bg-header {
  background: linear-gradient(to right, #2ad341, #b4ff72);
}
.bg-footer {
  background: linear-gradient(to right, #163a24, #296d44, #3da063);
}
.bg-banner {
  background: linear-gradient(to right, #2ad341, #9be15d, #f1fee5);
}
.bg-light {
  background-color: var(--bg-light-color);
}
.bg-dark {
  background: linear-gradient(to right, #2ad341, #18a558, #163a24);
}
.shadow-color {
  box-shadow: 0 4px 6px rgba(42, 211, 65, 0.3);
}
