@import "tailwindcss";
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

.app-title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Italianno", cursive;
  font-weight: 400;
}
@keyframes twinkle {
  0%,
  100% {
    opacity: 0.3;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}
