@import "tailwindcss";
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

.app-title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Italianno", cursive;
  font-weight: 400;
}
